<div class="row">

  <h2 class="header">Panel de acceso</h2>

  <div class="">
    <?php View::content(); ?>
  </div>

    <?php echo Form::open("usuarios/login", 'POST', array(
      'class' => 'col s12'
    )); ?>

  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("Usuario","username"); ?>
      <?php echo Form::text("username", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("Password","password"); ?>
      <?php echo Form::pass("password", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
      <?php echo Form::submit("Ingresar", array(
        'class' => 'waves-effect waves-light btn'
      )); ?>

      <?php echo Html::link('usuarios/register', 'Registrarse', array(
        'class' => 'waves-effect waves-light btn'
      )); ?>

  <?php echo Form::close(); ?>

</div>
