<div class="row">

  <div class="">
    <?php View::content(); ?>
  </div>

    <?php echo Form::open("usuarios/register", 'POST', array(
      'class' => 'col s12'
    )); ?>

  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("Usuario","username"); ?>
      <?php echo Form::text("username", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("Password","password"); ?>
      <?php echo Form::pass("password", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("Email","email"); ?>
      <?php echo Form::text("email", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("First Name","fname"); ?>
      <?php echo Form::text("fname", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <?php echo Form::label("Last Name","lname"); ?>
      <?php echo Form::text("lname", array(
        'class' => 'validate',
        'required' => 'true'
      )); ?>
    </div>
  </div>
      <?php echo Form::submit("Registrar", array(
        'class' => 'waves-effect waves-light btn'
      )); ?>
  <?php echo Form::close(); ?>

</div>
