<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Desarrollador Web Full Stack</h5>
      <p class="grey-text text-lighten-4">
        Mi nombre es Juan Gómez, radico en Cuernavaca Morelos,
        donde me encargo de desarrollar proyectos como Freelance, desde el
        diseño hasta la implementación y configuración del servidor, así como
        el modelo de desarrollo en caso de ser por ejemplo integración,
        entrega y despliegue continuos.
      </p>
    </div>

    <div class="col l3 s12">
      <h5 class="white-text">Habilidades</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">PHP, HTML5, CSS3, Javascript</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Linux, Windows, Mac OS</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Apache, NGINX, MySQL, NodeJS</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">MongoDB, VueJS, jQuery</a></li>
      </ul>
    </div>

    <div class="col l3 s12">
      <h5 class="white-text">Servicios</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Desarrollo Web</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Páginas de Internet</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Desarrollo Frontend y Backend</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Quality Assurance Testing</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    ©2017 - INGOMEZ
    <span class="right">
      <a class="grey-text text-lighten-4" href="http://neurox-gomez.com" target="_blank">Neurox Gómez</a> |
      <a class="grey-text text-lighten-4" href="https://desarrolladorfullstack.blogspot.mx/" target="_blank">Desarrollador Full Stack</a>
    </span>
  </div>
</div>
