<nav class="grey darken-4 white-text">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><strong>INGOMEZ</strong></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <?php View::partial('main-menu', false, array('pagina' => $pagina, 'username' => $username)) ?>
      </ul>
      <ul class="light-blue darken-3 side-nav flow-text" id="mobile-demo">
        <?php View::partial('main-menu', false, array('pagina' => $pagina, 'username' => $username)) ?>
      </ul>
    </div>
  </div>
</nav>
