
<?php if(isset($username)&&$username!==''): ?>

  <li>
    <?php echo Html::link('admin/panel', "Bienvenido $username", array(
      'class' => 'tooltipped',
      'data-position' => 'left',
      'data-delay' => '20',
      'data-tooltip' => 'Click para accesar al panel'
    )); ?>
  </li>

  <li>
    <?php echo Html::link('usuarios/logout', "Salir?", array(
      'id' => 'logout'
    )); ?>
  </li>

<?php else: ?>

  <li>
    <?php echo Html::link('usuarios/login', "Bienvenido Invitado", array(
      'class' => 'tooltipped',
      'data-position' => 'left',
      'data-delay' => '20',
      'data-tooltip' => 'Click para accesar o registrarte'
    )); ?>
  </li>
<?php endif; ?>

<li class="<?php if($pagina=='inicio'){ echo 'active'; } ?>"><?php echo Html::link('', 'Inicio'); ?></li>
<li class="<?php if($pagina=='acerca'){ echo 'active'; } ?>"><?php echo Html::link('seccion/acerca', 'Acerca'); ?></li>
<li class="<?php if($pagina=='servicios'){ echo 'active'; } ?>"><?php echo Html::link('seccion/servicios', 'Servicios'); ?></li>
<li class="<?php if($pagina=='contacto'){ echo 'active'; } ?>"><?php echo Html::link('seccion/contacto', 'Contacto'); ?></li>
