<div class="row">

  <div class="col s12">
    <div class="card grey darken-4">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card grey darken-4">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

</div>
