<div class="row">

    <div class="col s12">

      <h4 class="header">
        Full Stack Web Developer
      </h4>

      <div class="card-panel grey darken-4 z-depth-1">
        <div class="row">
          <div class="col s12 m4">
            <?php echo Html::img('ingomez-juanjosegomez.jpeg', 'Juan José Gómez Full Stack Web Developer', array(
              'id' => 'profile-picture',
              'class' => 'responsive-img'
            )) ?>
          </div>
          <div class="col s12 m8">
            <span class="grey-text text-lighten-3">
              <strong>Nombre:</strong> Juan José Gómez <br>
              <strong>Edad:</strong> <?= $myAge ?> años <br>
              <strong>Ubicación:</strong> Cuernavaca Mor. MEX <br>
              <strong>Perfil: </strong> Desarrollador Web Full Stack. <br>
              <strong>A.K.A. </strong> Neurox Gómez <br>
              <strong>Código: </strong>
                <a href="https://github.com/neurox" target="_blank" class="tooltipped" data-position="top" data-delay="20" data-tooltip="Mi codigo open source en Git Hub"><i class="fa fa-github fa-lg"></i></a>
                <a href="https://gitlab.com/neurox" target="_blank" class="tooltipped" data-position="top" data-delay="20" data-tooltip="También tengo algo en Git Lab"><i class="fa fa-gitlab fa-lg"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <h4 class="header">
        Habilidades
      </h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

  </div>
