<div class="row">
  <div class="col s12">
    <h4>Medios de contacto</h4>
    <p>
      Estos son algunos de los medios por los cuales puedes ponerte en contacto
      conmigo ya sea para solicitar una cotización o resolver alguna duda.
    </p>
  </div>

  <div class="col s12 m6">
    <p>
      <h4>Formulario de contacto</h4>
      <a class="waves-effect waves-light btn-large"
      href="https://goo.gl/forms/HrPDYY8EAclRJQWS2" target="_blank">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Google Forms
      </a><br>
      <p>
        <small><span class="red-text"><strong>ATENCION:</strong>
        </span> Uso Google Forms para mantener tu información segura.</small>
      </p>
    </p>
  </div>

  <div class="col s12 m6">
    <p>
      <h4>Whastapp messenger</h4>
      <a id="whatsapp-modal-button" class="waves-effect waves-light btn-large"
      href="#whatsapp-modal">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        Ver el numero
      </a>
    </p>
  </div>

  <div id="whatsapp-modal" class="modal green darken-2 center">
    <div class="modal-content white-text">
      <h4>Numero de contacto por Whatsapp</h4>
      <p>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        Tel: +52 (777) 4 91-46-62
      </p>
      <small>
        <span class="yellow-text">ATENCION: </span>
        No atiendo llamadas a este número telefónico, si deseas ponerte en
        contacto por teléfono por favor envía tus datos por medio del
        formulario y te contactare a la brevedad posible.
      </small>
    </div>
    <div class="modal-footer green darken-2">
      <a id="accept-button"  href="" class="modal-action modal-close
      waves-effect waves-green btn-flat btn-large white-text">Aceptar</a>
    </div>
  </div>

</div>
