.side-nav {
  color: #fff;
}

.side-nav li>a {
  color: #fff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.promo .material-icons {
  font-size: 7em;
}

.promo {
  margin: 10% 0 10% 0;
}

img#profile-picture {
  border-radius: 5%;
  margin-right: 1em;
}
