<!DOCTYPE html>
<html lang="es">
 <head>
  <meta charset=<?= APP_CHARSET ?> >
  <title>INGOMEZ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <?php Tag::css('materialize.min'); ?>
  <?php Tag::css('font-awesome.min'); ?>
  <?php Tag::css('custom'); ?>

  <?= Html::includeCss() ?>

</head>
<body>

<header>
  <?php View::partial('header', false, array('pagina' => $pagina, 'username' => $username)) ?>
</header>

<main>
  <div class="container flow-text">
    <div class="row">
      <div class="col l7 s12">
          <?php View::content() ?>
      </div>
      <div class="col l5 s12">
        <?php View::partial('navbar') ?>
      </div>
    </div>
  </div>
</main>

<footer class="grey darken-4 white-text page-footer">
  <?php View::partial('footer') ?>
</footer>

  <?php echo Tag::js('jquery-2.1.1.min');?>
  <?php echo Tag::js('materialize.min');?>
  <?php echo Tag::js('custom');?>

</body>
</html>
